services:

  # ==========================================
  # 节点 3: 监控中心 (Monitor Node)
  # ==========================================
  loki:
    image: grafana/loki:3.6.0
    container_name: loki
    ports: [ "3100:3100" ]
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      # 挂载自定义配置文件到容器默认路径
      - ../config/loki-config.local.yaml:/etc/loki/loki-config.yaml
      - loki-data:/loki # 命名卷挂载到/loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports: [ "3700:3000" ]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - TZ=Asia/Shanghai
    depends_on:
      - loki
    volumes:
      - grafana_data:/var/lib/grafana
      - ../provisioning/datasources:/etc/grafana/provisioning/datasources
      - ../dashboard.json:/etc/grafana/provisioning/dashboards/dashboard.json

volumes:

  grafana_data: # 监控数据持久化
