services:
  # ==========================================
  # 节点 1: 转发服务 (Forwarder Node)
  # ==========================================
  forwarder-app:
    build: ..
    container_name: forwarder-app
    environment:
      - APP_ROLE=forwarder
      - APP_TPS=100.0
    volumes:
      - logs-forwarder:/var/log/app # 写日志到共享卷

  promtail-forwarder:
    image: grafana/promtail:2.9.0
    container_name: promtail-forwarder
    volumes:
      - ../config:/etc/promtail/config
      - logs-forwarder:/var/log/app # 挂载同一个卷，读取日志
    command: -config.file=/etc/promtail/config/promtail-forwarder.local.yaml
    depends_on:
      - loki

  # ==========================================
  # 节点 2: 处理服务 (Processor Node)
  # ==========================================
  processor-app:
    build: ..
    container_name: processor-app
    environment:
      - APP_ROLE=processor
      - APP_TPS=100
      - APP_LOSS_RATE=0.2
    volumes:
      - logs-processor:/var/log/app # 写日志到共享卷

  promtail-processor:
    image: grafana/promtail:2.9.0
    container_name: promtail-processor
    volumes:
      - ../config:/etc/promtail/config
      - logs-processor:/var/log/app # 挂载同一个卷，读取日志
    command: -config.file=/etc/promtail/config/promtail-processor.local.yaml
    depends_on:
      - loki

  # ==========================================
  # 节点 3: 监控中心 (Monitor Node)
  # ==========================================
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports: [ "3100:3100" ]
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports: [ "3700:3000" ]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - TZ=Asia/Shanghai
    depends_on:
      - loki
    volumes:
      - grafana_data:/var/lib/grafana
      - ../provisioning/datasources:/etc/grafana/provisioning/datasources
      - ../dashboard.json:/etc/grafana/provisioning/dashboards/dashboard.json

volumes:
  logs-forwarder: # 节点1的磁盘
  logs-processor: # 节点2的磁盘
  grafana_data: # 监控数据持久化
