services:
  # ==========================================
  # 节点 1: 转发服务 (Forwarder Node)
  # ==========================================
  forwarder-app:
    build: ..
    container_name: forwarder-app
    environment:
      - APP_ROLE=forwarder
      - APP_TPS=100.0
      - TZ=Asia/Shanghai
    volumes:
      - logs-forwarder:/var/log/app # 写日志到共享卷

  alloy-forwarder:
    image: grafana/alloy:latest
    container_name: forwarder-alloy
    volumes:
      # 挂载配置文件
      - ../config/alloy-config.local.alloy:/etc/alloy/config.alloy
      # 挂载日志目录 (与之前 Promtail 一样)
      - logs-forwarder:/var/log/app:ro
      # 挂载数据目录 (用于记录读取位置 positions)
      - alloy-data-forwarder:/var/lib/alloy
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy /etc/alloy/config.alloy
    ports:
      - "12345:12345" # Alloy 的调试 UI 端口
    depends_on:
      - loki

  # ==========================================
  # 节点 2: 处理服务 (Processor Node)
  # ==========================================
  processor-app:
    build: ..
    container_name: processor-app
    environment:
      - APP_ROLE=processor
      - APP_TPS=100
      - APP_LOSS_RATE=0.2
      - TZ=Asia/Shanghai
    volumes:
      - logs-processor:/var/log/app # 写日志到共享卷

  alloy-processor:
    image: grafana/alloy:latest
    container_name: processor-alloy
    volumes:
      # 挂载配置文件
      - ../config/alloy-config.local.alloy:/etc/alloy/config.alloy
      # 挂载日志目录 (与之前 Promtail 一样)
      - logs-processor:/var/log/app:ro
      # 挂载数据目录 (用于记录读取位置 positions)
      - alloy-data-processor:/var/lib/alloy
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy /etc/alloy/config.alloy
    ports:
      - "12346:12345" # Alloy 的调试 UI 端口
    depends_on:
      - loki
  # ==========================================
  # 节点 3: 监控中心 (Monitor Node)
  # ==========================================
  loki:
    image: grafana/loki:3.6.0
    user: root # Use root to avoid permission issues. See: https://github.com/grafana/loki/issues/5513
    container_name: loki
    ports: [ "3100:3100" ]
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      # 挂载自定义配置文件到容器默认路径
      - ../config/loki-config.local.yaml:/etc/loki/loki-config.yaml
      - loki-data:/loki # 命名卷挂载到/loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports: [ "3700:3000" ]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - TZ=Asia/Shanghai
    depends_on:
      - loki
    volumes:
      - grafana_data:/var/lib/grafana
      - ../provisioning/datasources:/etc/grafana/provisioning/datasources
      - ../dashboard.json:/etc/grafana/provisioning/dashboards/dashboard.json

volumes:
  logs-forwarder: # 节点1的磁盘
  logs-processor: # 节点2的磁盘
  grafana_data: # 监控数据持久化
  loki-data: # Loki 数据持久化
  alloy-data-processor:
  alloy-data-forwarder:
